<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/speaker.css" rel="stylesheet">
</head>
<body>

<nav class="blue-grey " role="navigation">
    <div class="nav-wrapper container blue-grey">
        <!--<a id="logo-container" href="#" class="brand-logo">TEDxNITKurukshetra</a>-->
        <ul class="right hide-on-med-and-down">
            <li><a class="speakers-tab-open" >Speakers</a></li>
            <li><a class="video-tab-open" >Videos</a></li>
            <li><a class="team-tab-open" >Team</a></li>
            <li><a href="#">{{username}}</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a class="speakers-tab-open">Speakers</a></li>
            <li><a class="video-tab-open">Videos</a></li>
            <li><a class="team-tab-open">Team</a></li>
            <li><a href="#">{{username}}</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<br><br><br>
<div class="row speaker-tabs">
    <div class="col s3"></div>
    <div class="col s12 m6">
        <div class="card blue-grey darken-1"><br><h4 >Insert Speaker</h4>
            <div class="card-content white-text">
                <div class="row" id="form-data1">
                    <form class="col s12" method="post" action="/speaker-insert" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" name="speakername"  type="text" class="validate">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="topic" name="topic" type="text" class="validate">
                                <label for="topic">Topic</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="description" name="description" type="text" class="validate"/>
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="input-field col s12" >-->
                                <input type="file" placeholder="File"  name="images" multiple  id="file"  class=" inputfile validate waves-effect waves-light btn"/>
                                <label for="file" class=" waves-effect waves-light btn">Choose a file</label>
                            <!--</div>-->
                        </div>
                        <div class="card-action">
                            <button  class="waves-effect waves-light btn ">Save</button>
                        </div>
                    </form>
                </div>
                <div class="error"></div>
            </div>
        </div>
    </div>
</div>
<div class="row speaker-tabs">
    <div class="row speakers-list">
    </div>
</div>
<div class="row video-tabs">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1"><br><h4 >Insert Videos</h4>
                <div class="card-content white-text">
                    <div class="row" id="form-data">
                        <form class="col s12"  action="/video-insert" method="post" >
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" name="title"  type="text" class="validate">
                                    <label for="name">Title</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="desc" name="description" type="text" class="validate">
                                    <label for="desc">Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="url" name="url" type="text" class="validate" />
                                    <label for="url">Url</label>
                                </div>
                            </div>

                            <div class="card-action">
                                <button  class="waves-effect waves-light btn  ">Save</button>
                            </div>
                        </form>
                    </div>
                    <div class="error"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row video-tabs center">
    <div class="row video-list">
    </div>
</div>

<div class="row team-tabs">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1"><br><h4 >Insert Team Member</h4>
                <div class="card-content white-text">
                    <div class="row" id="form-data2">
                        <form class="col s12"  action="/insert-team" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="nameofteam" name="membername"  type="text" class="validate">
                                    <label for="nameofteam">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="position" name="position" type="text" class="validate">
                                    <label for="position">Position</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="sociallink" name="sociallink" type="text" class="validate" />
                                    <label for="sociallink">Social Link</label>
                                </div>
                            </div>
                            <div class="row">
                                <!--<div class="input-field col s12" >-->
                                    <input type="file" placeholder="File"  name="teammemberimage" multiple  id="teammember"  class="validate inputfile waves-effect blue-grey waves-light btn"/>
                                    <label for="teammember" class=" waves-effect waves-light btn">Choose a file</label>
                                <!--</div>-->
                            </div>
                            <div class="card-action">
                                <button  class="waves-effect waves-light btn  ">Save</button>
                            </div>
                        </form>
                    </div>
                    <div class="error"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row team-tabs center">
    <div class="row team-list">
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="js/materialize.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>

</body>
</html>













