 .video-tabs , .team-tabs{
    display: none;
}
.tab-on {
    display: inline;
}
.tab-gone {
    display: none;
}

h4 {
    color: white ;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.namespeaker {
    color :red;
}
#file {
    font-size: 1em;
    font-weight: 700;
    color: white;
    /*opacity: 0;*/
    display: inline-block;
    width:110px;
    background: #26a69a;
}

 .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
 }
 .inputfile + label {
     color: white;
     background-color: #26a69a;
     display: inline-block;
     cursor: pointer;
 }
 .bottom-border {
     border-bottom: 4px solid  #26a69a;
     box-sizing: inherit;
 }



@media only screen and(max-width: 600px)  {
    .brand-logo {
        font-size: 2px;
    }
}